
@{
    ViewBag.Title = "trójwymiar";
}



@Styles.Render("~/3d/css")
    
 <a href="http://localhost:57511/test/test">   <div class="thumb">
       
                                                   <a href="#">
                                                       <!-- Label -->
                                                       <span>Three-eyed Robot</span>
                                                   </a>
    </div>
    </a>